.container
{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    padding: 1in;
    background-color: #c99ba6;
    
}
#nextbutton{
    background-color: aqua;
    border-radius: 2rem;
    width: 16rem;
    align-items: center;
    align-self: center;
    height: 2rem;
}

#checkbutton{
    background-color: greenyellow;
    border-radius: 2rem;
    width: 16rem;
    align-items: center;
    align-self: center;
    height: 2rem;
}

h1
{
    align-items: center;
    align-self: center;
    color:black;
    font-size: 5vh;
    color:#800020;
    ;


}
p{
    align-items: center;
    align-self: center;
    color:black;
    font-size: 2vh;
    width: auto;
    margin: auto;
    padding-bottom: 1vh;
    padding-top: 1vh;
    color:#800020;
    display: block;
}
input{
    align-items: center;
    align-self: center;
    color:black;
    font-size: 3vh;
    
}
label{
    align-items: center;
    align-self: center;
    color:black;
    font-size: 3vh;
    color:#800020;
    padding: 2vh;;
}

table ,th,td {
    align-items: center;
    align-self: center;
    color:black;
    font-size: 3vh;
    border: 2px solid ;
    padding-top: 100px;
  padding-bottom: 12px;
  text-align: left;
  
  color: white;
    border-color: #800020;
    padding :2vh;
    color:black;

}
.ContactMe {
    display: block;
    align-items: center;
    align-self: center;
    color:black;
    font-size: 2vh;
    padding-bottom: 50px;
    color:#800020;
    width: 50%;
    margin: auto;
    padding-left:250px;
    padding-top: 100px;
}

    .footer-link{padding-right: 2vh;
    text-decoration: none;}
   
    body{
        background-color:#800020;
    }

  